@{
    ViewData["Title"] = "homeWork1";
}

<h1>homeWork1</h1>
<div id="div1"></div>

@section Scripts{
    <script src="~/js/travel.js"></script>
    <script>
        const datas = spots.CommonFormat.Section.map(x => 
        {
            const {stitle, xbody, file} = x;
            if (x.file)
                if (x.file.img)
                    if (x.file.img[0])
                        if (x.file.img[0].text) 
                        { const imgpath = x.file.img[0].text;
                          const subBody = x.xbody.substr(0,50)
                          
                          return(
                              `<div class="card" style="width:18rem;">
                              <img src="${imgpath}" class="card-img-top" alt="...">
                              <div class="card-body">
                              <h5 class="card-title">${stitle}</h5>
                                      <p class="card-text">${subBody}</p>
                                      </div>
                                      </div>`
                          )
                          }
                        }
        })
        document.querySelector('#div1').innerHTML = datas.join("")
    </script>
}